body {

    --color1: #3d3d3d;
    --color2: ;
    --color3: ;
    --color4: ;
    --color5: ;

    color: var(--color1);
}

main {
    width: 100%;
    height: 100%;
}

header button {
    all: unset;
    align-self: flex-end;
    margin: 0.5em 1em;
    cursor: pointer;
}

@media only screen and (min-width: 500px) {

    main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    section {
        margin: 0 2em;
    }
}


