header button {
    all: unset;
    align-self: flex-end;
    margin: 0.5em 1em;
    cursor: pointer;
}

main {
    width: 100%;
    height: 100%;
}

section {
    border: solid 2px var(--color1);
    margin: 0.5em;
    width: 300px;
}

section div.head {
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section div.chatroom-list {
    height: 300px;
    overflow-y: scroll;
    padding: .5em 1em;
    align-items: center;
}

section.general-chatbox {
    border-top: solid 2em var(--color1);
    padding: 1em;
    height: 200px;
}

section.message-box {
    border-top: solid 2em var(--color1);
    padding: 1em;
}

img {
    height: 2em;
    align-self: center;
}

h2 {
    color: white;
    font-size: 1em;
}

p {
    background: #60638841;
    padding: .75em;
    border-radius: 0 1em 1em 1em;
    border: solid 3px #60638899
}

div p {
    margin: 0.25em;
    padding: 0.5em;
}

form div {
    text-align: center;
    /* display: flex;
    justify-content: baseline; */

}
div.general-chat {
    overflow-y: scroll;
}

form button {
    all: unset;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    text-shadow: 3px 3px 3px var(--color1);
}

.chat-names {
    padding: 0.5em;
}

span {
    color: var(--color1);
}

span.username{
    display: block;
    color: var(--color2);
}

/* 
.head {
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top {
    height: 300px;
}

.bottom {
    border-top: solid 2em var(--color1);
    padding: 1em;
    height: 200px;
} */
/* 
.chatrooms-container {
    padding: .5em 1em;
    align-items: center;

}

.chatbox-list {
    overflow-y: scroll;
}

.message-container p {
    text-align: center;
} */

@media only screen and (min-width: 500px) {

    main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    section {
        margin: 0 2em;
    }
} 


